<footer class="footer-section">
    <div class="wrapper">
        <div class="row row--gutters">
            <div class="row__medium-6">
                <p>For inquries call:<a href="tel:639666429400" title="+63 966 642 9400" style="display:inline-block; font-size: .96rem;">+63 966 642 9400</a> | <a href="tel:639394645875" title="+63 939 464 5875" style="display:inline-block; font-size: .96rem;">+63 939 464 5875</a></p>
                <p>Copyright © <span class="year"></span> EOBSYSTEMS.COM.  All rights reserved.</p>
            </div>
            <div class="row__medium-6">
                <ul>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                    <li><a href="{% url 'career' %}">Career</a></li>
                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    
    function mouseOver() {
        document.getElementById("showMegaMenu").classList.add("hover");
    }
      
    function mouseOut() {
        document.getElementById("showMegaMenu").classList.remove("hover");
      }
</script>   