{% load static %}
 <div class="wrapper">
    <div class="site-header__main-logo">
        <a href="{% url 'index' %}"> <img src="{% static 'images/eob-logo-2.png' %}" alt="EOB Logo" /></a>
    </div>
</div>    
<div class="wrapper-main">
    <div class="wrapper-nav">
        <div class="site-header__top-nav">                
            <ul>
                <li><a href="tel:639666429400" title="+63 966 642 9400">+63 966 642 9400</a></li>
                <li><a href="tel:639394645875" title="+63 939 464 5875">+63 939 464 5875</a></li>
                <li><a href="mailto:adminsupport@eobsystem.com" title="info@eobsystems.com">info@eobsystems.com</a></li>
                <!-- <li><a href="https://www.facebook.com" title="Facebook Account"><i class="fab fa-facebook-f"></i></a></li> -->
            </ul>     
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="site-header__menu-icon">
        <div class="site-header__menu-icon__middle">
            <i class="fas fa-bars"></i>
        </div>
    </div> 
</div>    
