{% extends 'base.html' %}
{% load static %}
{% block pagetitle %} About Us{% endblock %}

{% block content %}


        <!-- Hero Section -->
        <div class="hero-banner hero-banner__inner" style=" background-image: linear-gradient(to right bottom, rgba(34,63,154,0.8), rgba(27,44,95,0.8)), url({% static 'images/hero-image.jpg' %});">
            <div class="hero-banner__text-box">
                <h1 class="heading-primary-main heading-primary-main-inner">About Us</h1>
            </div>
        </div>
        

        <div class="category-page">
            <div class="wrapper row--b-padding">
                
                <h2 class="section-heading row--t-padding margin-btm margin-top-1"></h2>
                {% if about %}
                    {% for page in about %}
                <div class="row row--gutters generic-content-container">
                    
                    <div class="row__medium-6">

                        {% if page.photo %}

                            <img src="{{ page.photo.url }}" alt="{{ page.title }}">
                            
                        {% else %}

                            <img src="{% static 'images/sample-product.jpg' %}" alt="{{about.title }}">

                        {% endif %}

                        
                    </div>
                    <div class="row__medium-6">
                      
                        <div class="row__medium-wrapper">

                            {% if page.body %}

                                    {{page.body | safe}}
                            {% else %}
                                <p class="lead">No content available</p>
                            {% endif %}

                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}