{% extends 'base.html' %}
{% load static %}
{% block pagetitle %} About Us{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero-banner hero-banner__inner" style=" background-image: linear-gradient(to right bottom, rgba(34,63,154,0.8), rgba(27,44,95,0.8)), url({% static 'images/hero-image.jpg' %});">
    <div class="hero-banner__text-box">
        <h1 class="heading-primary-main heading-primary-main-inner">News & Update</h1>
    </div>
</div>

<div class="category-page">
    <div class="wrapper row--b-padding">
        
        <h2 class="section-heading row--t-padding margin-btm margin-top-1"></h2>

        <div class="row row--gutters generic-content-container">
            <div class="row__medium-12">
                <h1 class="section-heading text-primary text-center row--b-padding9 ">Thank you for reaching out!</h1>

                <h3 class="text-center latest-product__product-title">Our EOB representative will be in touch with you.</h3>
                <br><br><br><br>
                <p class="text-center row--b-padding9">
                    Back to <a href="{% url 'index' %}" class="">Home</a> page
                </p>
                <br><br><br><br> <br><br><br><br>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}